html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
  margin-left: 0;
}


/*Header*/

.header {
  height: 30rem;
  background-image: url("../images/glasses-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.container {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  height: 30rem;
  width: 996px;
  padding: 0 2rem;
}

  /*Top header/menu*/

.flex {
  display: flex;
  justify-content: center;
}

.top-header {
  display: flex;
  align-items: center;
  margin: 0 2rem;
  background-color: cadetblue;
  padding: 1rem 2rem;
  width: 100%;
  max-width: 960px;
}

.top-header .logo {
  display: flex;
  align-items: center;
  flex-grow: 2;
}

.logo img {
  height: 1.5rem;
  padding-right: 1rem;
}

.top-header span {
  font-size: 1rem;
  color: white;
}

nav span {
  padding-left: 2rem;
}

#menu {
  display: none;
}

/*Banner*/

.banner {
  display: flex;
  justify-content: flex-end;
}

.banner h4 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.4;
  background-color: white;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
}

/*Icons*/

.icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  flex-direction: column;
  align-content: space-between;
  height: 8rem;
  width: 5rem;
  margin: 3rem;
}

.icon h5 {
  padding-top: 0.5rem;
  line-height: 1.4;
}

.icons {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

.icon img {
  width: 5rem;
  height: auto;
}

.icon.exams img {
  width: 3.5rem;
  height: auto;
}

/*Info*/

.info-container {
  margin-top: 3rem;
  margin-left: 10rem;
  margin-right: 10rem;
}


.infos {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.info {
  width: 35%;
  display: flex;
  flex-direction: column;
}

.info.philosophy {
  margin-right: 5%;
}

.info h4 {
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.5rem 1.25rem;
  width: 10rem;
}

.info h5 {
  margin-top: 1rem;
  line-height: 1.4;
}

/*Footer*/

footer {
  background-color: azure;
  display: flex;
  align-items: center;
  margin-top: 5rem;

  padding: 5rem;
}

footer img {
  height: 1.5rem;
  padding-right: 1rem;
}

@media only screen and (max-width: 1024px) {

  .header {
    height: 22rem;
  }

  .header .container {
    padding: 0;
    margin-top: 0;
    width: 100%;
  }

  .top-header {
    margin: 0;
    width: 100%;
  }

  .banner h4 {
    padding: 0.75rem 4rem;
    margin-top: 5rem;
    margin-right: 2rem;
    font-size: 1.33rem;
  }

  .info-container {
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (max-width: 700px) {
  .top-header span {
    display: none;
  }

  #menu {
    display: inline-block;
  }

  .header,
  .container {
    height: 17rem;
    width: auto;
  }


  .header {
    background-position: 20%;
  }

  .banner {
    justify-content: center;
    align-items: flex-start;
  }

  .banner h4 {
    font-size: 1rem;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    margin: 0;
    margin-top: 9rem;
    line-height: 1.4;
  }

  .icons {
    margin: 3.77rem 0;
    flex-flow: column wrap;
    align-items: center;
  }

  .icon {
    margin: 0;
    margin-bottom: 1.57rem;
    height: 7rem;
  }

  .icon h5 {
    font-size: 0.77rem;
  }
}
