html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}


/*Header*/

.header {
  height: 30rem;
  background-image: url("../images/glasses-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.container {
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  height: 30rem;
  width: 996px;
  padding: 0 2rem;
}

  /*Top header/menu*/

.flex {
  display: flex;
  justify-content: center;
}

.top-header {
  display: flex;
  align-items: center;
  margin: 0 2rem;
  background-color: cadetblue;
  padding: 1rem 2rem;
  width: 100%;
  max-width: 960px;
}

.top-header .logo {
  display: flex;
  align-items: center;
  flex-grow: 2;
}

.logo img {
  height: 1.5rem;
  padding-right: 1rem;
}

.top-header span {
  font-size: 1rem;
  color: white;
}

nav span {
  padding-left: 2rem;
}

/*Banner*/

.banner {
  display: flex;
  justify-content: flex-end;
}

.banner h4 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.4;
  background-color: white;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
}

/*Icons*/

.icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  flex-direction: column;
  align-content: space-between;
  height: 8rem;
  width: 5rem;
  margin: 3rem;
}

.icon h5 {
  padding-top: 0.5rem;
  line-height: 1.4;
}

.icons {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

.icon img {
  width: 5rem;
  height: auto;
}

.icon.exams img {
  width: 3.5rem;
  height: auto;
}

/*Info*/

.infos {
  margin: 3rem 11.5rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.info {
  width: 35%;
  display: flex;
  flex-direction: column;
}

.info.philosophy {
  margin-right: 5%;
}

.info h4 {
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.5rem 1.25rem;
  width: 10rem;
}

.info h5 {
  margin-top: 1rem;
  line-height: 1.4;
}
